﻿#body{
    background-color:cadetblue;

}

.b {
    border: 2px solid;
}

.links{
    background-color:azure; 
}

.tocontents {
    border: 1px solid red;
    width: 120px;
    font-size: large;
    text-align: center;
    background-color: azure;
}

.next {    
    border: 1px solid red;
    width: 120px;
    font-size: large;
    color: brown;
    text-align: center;
    background-color: azure;
}

.contents {
    display: block;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    width: 50%;
    font-family: sans-serif;
    font-size: xx-large;
    color: black;
    text-align: center;
    background-color: azure;
}

.numb {
    display: block;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    width: 50%;
    background-color: azure;
    font-family: sans-serif;
    font-size: medium;
    color: black;
    text-align: left;
}

header {
    height: 200px;
    text-align: left;

}


#main3pg {
    width: 600px;
    margin: 0 auto;
    border: 2px solid;
}

#main4pg {
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid;
}

.simple5pg {
    width: 500px;
    margin: 20px auto;
    border: 2px solid;
}

.fancy5pg {
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border-width: 10px;
    border: 2px solid;
}

.simple6pg {
    width: 500px;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid;
}

.fancy6pg {
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border: solid blue 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   
}

.static7pg {
    position: static;
    border: 2px solid;
}

.relative1pg7 {
    position: relative;
    border:2px solid;
}

.relative2pg7 {
    position: relative;
    top: -20px;
    left: 20px;
    background-color: white;
    width: 500px;
    border: 2px solid;
}

.fixed7pg {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    background-color: white;
    border: 2px solid;
}

.relative7pg {
    position: relative;
    width: 600px;
    height: 400px;
    border: 2px solid;
}

.absolute7pg {
    position: absolute;
    top: 120px;
    right: 0;
    width: 300px;
    height: 200px;
    border: 2px solid;
    background-color: white;
}

.container8pg {
    position: relative;
    border: 1px solid;

}

nav8pg {
    position: absolute;
    left: 0px;
    width: 200px;
    border: 1px solid;
}

.container8pg section {

    margin-left: 200px;
    border: 1px solid;
}

footer8pg {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background-color: white;
    width: 100%;
    border: 1px solid;
}

.content8pg {
    margin-bottom: 120px;
    border: 1px solid;
}

.img9pg {
    float: right;
    margin: 0 0 1em 1em;
    padding: 0 15px 0 0;    
}

.box10pg1 {
    float: left;
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 2px solid;
}

.sec10pg {
    border: 2px solid;
    width: 80%;
}


.box10pg2 {
 
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 2px solid;
    margin-top: 150px;
}

.after-box10pg {
    clear: left;
    border: 2px solid;
    width: 80%;
    
}

.img11pg {
    float: right;
    padding: 0 15px 15px 0;
}

.clearfix11pg {
    overflow: auto;
    zoom: 1;
    border: 2px solid;
    margin-top: 300px;
}

.container12pg {
    overflow: auto;
    zoom: 1;
    border: 2px solid;
    width: 95%;
}

nav12pg {
    float: left;
    width: 200px;
    border: 2px solid;
}

.container12pg section {
    margin-left: 200px;
    border: 2px solid;
}

article img {
    float: right;
    width: 50%;
    max-width: 450px;
    
}

.clearfix13pg {
    overflow: auto;
    zoom: 1;
    border: 2px solid;
    width: 95%;
    margin: 0 auto;
}

.container13pg {
    overflow: auto;
    zoom: 1;
    border: 1px solid;
    width: 95%;
    margin-top:5%;
}

nav13pg {
    float: left;
    width: 25%;
    border: 1px solid;
}

.container13pg section {
    margin-left: 25%;
    border: 1px solid;
}


.container14pg {
    overflow: auto;
    zoom: 1;
    border: 1px solid;
    width: 95%;
    margin-top: 5%;
}

@media screen and (min-width:600px) {
    nav14pg {
        float: left;
        width: 25%;
        border: 1px solid;
    }

    .container14pg section {
        margin-left: 25%;
        border: 1px solid;
        
    }
}

@media screen and (max-width:599px) {
    nav li {
        display: inline;
        border: 1px solid;
       
    }
}

.box15pg {
    float: left;
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 2px solid;
    text-align:center;
   
}

.after-box15pg {
    clear: left;
    border: 2px solid;
}

.box2pg15 {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 2px solid;
    text-align: center;
}

.container16pg {
    border: 1px solid;
    
}

nav16pg {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    border: 1px solid;
    box-sizing: border-box;
}
.column16pg {
    display: inline-block;
    vertical-align: top;
    width: 75%;
    box-sizing:border-box;
}

.container16pg section {
    
    border: 1px solid;
}


.three-column17pg {
    padding: 1em;
    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    column-count: 3;
    column-gap: 1em;
    border: 2px solid;
}


.container18pg {
    display: -webkit-flex;
    display: flex;
    border: 1px solid;
}

nav18pg {
    width: 200px;
    border: 1px solid;
}

.flex-column18pg {
    -webkit-flex: 1;
    flex: 1;
    border: 1px solid;
}

.container18pg section {
    border: 1px solid;
}

.container2pg18 {
    display: -webkit-flex;
    display: flex;
    border: 1px solid;
}

.initial18pg {
    -webkit-flex: initial;
    flex: initial;
    width: 200px;
    min-width: 100px;
    border: 1px solid;
}

.none18pg {
    -webkit-flex: none;
    flex: none;
    width: 200px;
    border: 1px solid;
}

.flex18pg {
    -webkit-flex: 1;
    flex: 1;
    border: 1px solid;
}

.flex2pg18 {
    -webkit-flex: 2;
    flex: 2;
    border: 1px solid;
}

.vertical-container18pg {
    height: 300px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    border: 2px solid;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    background-color: #5f9ea0;
}

b {
    font-size: 110%;
}

em {
    color: red;
}


#topsection {
    background: #EAEAEA;
    height: 90px; /*Height of top section*/
}

    #topsection h1 {
        margin: 0;
        padding-top: 15px;
    }

#contentwrapper {
    float: left;
    width: 100%;
}

#contentcolumn21 {
    margin-left: 200px; /*Set left margin to LeftColumnWidth*/
}

#leftcolumn21 {
    float: left;
    width: 200px; /*Width of left column*/
    margin-left: -100%;
    background: #C8FC98;
}

#footer {
    clear: left;
    width: 100%;
    background: black;
    color: #FFF;
    text-align: center;
    padding: 4px 0;
}

    #footer a {
        color: #FFFF80;
    }

.innertube {
    margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
    margin-top: 0;
    
}

/* ####### responsive layout CSS ####### */

@media (max-width: 600px) { /* responsive layout break point */

    #contentwrapper {
        float: none;
    }

    #leftcolumn21 {
        float: none;
        width: 100%;
        margin-left: 0;
    }

    #contentcolumn21 {
        margin-left: 0;
    }
}



/*/*/




#contentcolumn32 {
    margin: 0 200px 0 25%; /*Margins for content column. Should be "0 right-column-width 0 left-column-width*/
}

#leftcolumn32 {
    float: left;
    width: 25%; /*Width of left column in percentage*/
    margin-left: -100%;
    background: #C8FC98;
}

#rightcolumn32 {
    float: left;
    width: 200px; /*Width of right column in pixels*/
    margin-left: -200px; /*Set margin to -(RightColumnWidth)*/
    background: #FDE95E;
}




/* ####### responsive layout CSS ####### */

@media (max-width: 840px) { /* 1st level responsive layout break point- drop right column down*/

    #leftcolumn32 {
        margin-left: -100%;
    }

    #rightcolumn32 {
        float: none;
        width: 100%;
        margin-left: 0;
        clear: both;
    }

    #contentcolumn32 {
        margin-right: 0;
    }
}

@media (max-width: 600px) { /* 2nd level responsive layout break point- drop left column down */
    #leftcolumn32 {
        float: none;
        width: 100%;
        clear: both;
        margin-left: 0;
    }

    #contentcolumn32 {
        margin-left: 0;
    }
}