﻿.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.3em;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.wrapper-inside {
    padding-bottom: 50px;
}

footer {
    height: 50px;
    margin-top: -50px;

    background: white;
    color: #c1c8d7;
    width: 100%;
}