﻿ul {
    list-style-type: none;
    line-height: 40px;
    font-size: large;
    font-family: Arial;
    width: 149px;
}

A:link {
    text-decoration: none;
    color: white;
}

    A:visited {
        color: white;
    }

A:hover {
    background-color: white;
}

.imgcol2 {
    padding-left: 30px;
}

.imghead {
  margin-top:10px;
}

.imgfoot{
    margin-bottom:30px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../img/background.jpg);
    background-color: #edeef0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.3em;
}

.page-header {
    position: fixed;
    display: block;
    width: 100%;
    
    margin-top: -20px;
}

.header_content {
    color: white;
    font-family: Arial;
    font-size:16px;
    background: #507299;
    height: 60px;
    padding-left: 10px;
}



.box {
    background-color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin: 20px;
}

.content {
    overflow-x: hidden;
    padding: 30px;
}


.content-wrapper {
    float: left;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    padding-top: 50px;
}


.sidebar {
    position:fixed;
    float: left;
    width: 200px;
    height: 100vh;
    box-sizing: border-box;
    background: #6788ae;
    color: white;
    z-index:-1;

}

    


.col2 {
    width: 1000px;
}

.col3 {
    float: left;
    display: inline-block;
    width: 350px;
    position: fixed;
    margin-left: 1100px;
}



.footer_content {
    font-size: large;
    line-height: 50px;
    font-family: Arial;
    text-align: right;
}

@media (width:400px) {
    .content {
        width: 600px;
    }

    .col3 {
        display: none;
    }

    .footer_content {
        text-align: center;
    }

    aside.sidebar {
        min-width: 400px;
        width: 100%;
    }

        aside.sidebar:before {
            background: none;
        }

        aside.sidebar nav ul li {
            display: inline-block;
            margin-right: 15px;
            font-size: 1em;
        }

            aside.sidebar nav ul li:last-child {
                margin-right: 0;
            }

}

