body {
   
	background-color: #edeef0;
}

content {
  font-family:sans-serif;
  font-size:16px;
}

A:link {
    text-decoration:none;
    color:white;
}

A:visited {
    color: white;
}

A:active {
    color: white;
}

.box {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #45a3bf;
    padding: 2px 2px 2px 2px;
    border-radius: 10px;
    width: 80px;
    text-align: center;
}