﻿body {
    flex-direction:column;
}

main{
    flex:0 1 auto;
}

footer{
    flex-shrink: 0;
    height:4rem;
}
.spdr{
    background-image: url(/img/Bold-Jumper-Spider-2880x1920.jpg);
    background-color:#f5a66e;
    background-position:center;
    background-size:cover;
}

.spdr_txt {
    color: #4ff739;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.90);
}

.img_spdr {
    height: 20rem;
    margin-top: 3.5rem;
}

.join_form .fab{
    margin: 0 0.5rem;
}

.fab{
    font-family: "Font Awesome 5 Brands";
}

