﻿body, html {
   
    margin: 0 auto;
    background: #ffe4e1;
}
body {
    width: 75%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}

.wrapper-outside {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: #d4eaf9;

    -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.3);
}

.wrapper-inside {
    padding: 1px 25px 10px 25px;
    background: #d4eaf9;
    border-bottom: 2px solid black;
   
}

.wrapper-inside:hover {
    background: #bb90a6;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

button {
    background: rgba(65, 122, 2, 0.91);
    background: linear-gradient( to top, rgba(65, 122, 2, 0.91), rgba(113, 154, 78, 0.5));
    text-align: center;
    color: white;
    text-align: center;
    font-family:Arial;
    font-size:large;
    padding:5px;
    border: none;

    margin-left: calc(50% - 125px);

    width: 250px;
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.3);
}

 button:hover {
    background: linear-gradient( to bottom, rgba(65, 122, 2, 0.91), rgba(113, 154, 78, 0.5));
}

.txt {
    font-family: BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    
}

#zandfloat {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: #ffffff;
    z-index: -1;
    left:0;
}

#float-upper {
    position: fixed;
    max-width: 600px;
    width: 100%;
    min-height: 100px;
    background-color: #d2efab;

    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    padding: 15px;

    z-index: -1;

    -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.3);
    box-sizing: border-box;
}

@media (max-width: 1000px){
    body{
        width:800px;

    }
}