﻿* {
    margin: 0;
}

header, footer {
    hight: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    background-color: #008000;
    font-family: sans-serif;
    font-size: small;
}

content {
    display: block;
    margin: 0 auto;
    padding: 30px 30px 30px 40px;
    width: 50%;
    background-color: #0000ff;
    font-family: sans-serif;
    font-size: small;
    color: #ffffff;
}

.box {
    width: 100px;
    height: 100px;
    float: left;
    border: 2px solid white;
    margin: 10px 10px 10px auto;
}
