﻿.fr {
    float: right;
    margin-top: -25px;
    cursor: pointer;
}

.fl {
    width: 200px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    line-height: 40px;
    font-size: large;
    font-family: Arial;
    width:149px;
}
a {
    text-decoration: none;
  
}

    a:visited {
        color: #507299;
    }

    a:hover {
        color: #507299;
        background: #e1e5eb;
    }

.imgcol2 {
    border-radius: 5px;    
}

.imghead {
    height: 100%;
    background: #4a76a8;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    background-color: #edeef0;
}

#header {
    position: fixed;
    display: block;
    width: 100%;
    margin-top: -20px;
}

.header_content {
    color: white;
    font-family: 'Franklin Gothic Medium', sans-serif;
    background: #4a76a8;
    height: 60px;
    padding-left: 170px;
}

.content {
    width: 1000px;
    min-height: 100%;
    margin-top: 45px;
    margin-left: 300px;
}

.content-inside {
    padding: 20px;
    padding-bottom: 50px;
}

.box {
    background-color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin: 20px;
    -webkit-box-shadow: -5px -5px 15px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: -5px -5px 15px 0px rgba(0,0,0,0.35);
    box-shadow: -5px -5px 15px 0px rgba(0,0,0,0.35);
}

.box_content {
    font-family:  Calibri;
    font-size:large;
} 



    #topsection h1 {
        margin: 0;
        padding-top: 15px;
    }

#wrapper {
    float: left;
    width: 100%;
    min-height:100%;
}


#col1 {
    float: left;
    width: 150px;
}

#col2 {
    width: 600px;
    margin: 0 200px 0 25%;
}

#col3 {
    float: left;
    display: inline-block;
    width: 350px;
    
    position:fixed;
   margin-left:700px;
    
}

footer {
    height: 50px;
    margin-top: -40px;
    
    background: white;
    color: #c1c8d7;
    width:100%;
}

.footer_content {
    font-size: large;
    line-height: 50px;
    font-family: Arial;
    text-align: center;
}

@media (width:1000px)
{
    .content{
        width:600px;
    }

    .col3{
        display:none;
    }
}