﻿html{
    height:100%;
}

body {
    flex-direction: column;
    height:100%;
}

main {
    flex: 0 1 auto;
}

footer {
    flex-shrink: 0;
    height: 4rem;
}

.join_form .fab {
    margin: 0 0.5rem;
}

.fab {
    font-family: "Font Awesome 5 Brands";
}

.wrap {
    height:100%;
    border-radius: 5px ;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
}

.carus{
   
}
