.page-header{
    height:50px;
    line-height:50px;
    font-size:26px;
    text-align:center;
    background: green;
    color:white;
}

.content-wrapper{
    width:800px;
    margin:0 auto;
}

.sidebar {
    float: left;
    width: 200px;
    padding: 30px 30px 30px 30px;
    box-sizing: border-box;
    background: darkred;
    color: white;
   
}


.sidebar:before{
    content: '';
    position:absolute;
    margin-left:-30px;
    bottom:50px;

    z-index:-1;
    width:200px;
    min-height:100%;

    background-color:darkred;
    

}

.sidebar > nav >ul{
    list-style:none;
    padding-left:20px;
}

.sidebar>nav>ul>li{
    text-decoration:underline;
    margin-bottom:10px;
    cursor:pointer;
}

.sidebar > nav > ul > li:last-of-type{
    margin-bottom:0;
}

.content{
    overflow-x:hidden;
    padding:30px;
}

.content > h2{
    margin-top:30px;
    margin-bottom:10px;
}

.content h2:first-child{
    margin-top:0;
}

.outer-box{
    position:relative;

    width:200px;
    height:200px;
    border:2px solid black;
}

.overflow>.outer-box{
    overflow:hidden;
}

.inner-box{
    position:absolute;
    top: 25px;
    left: 100px;

    width:150px;
    height:150px;
    background-color:darkred;
}

@media (max-width: 800px){
    body{
        min-width:400px;
    }

    .content-wrapper{
        width:100%;
    }

    aside.sidebar{
        min-width:400px;
        width:100%;
    }

    aside.sidebar:before{
        background:none;
    }

    aside.sidebar nav ul li{
        display:inline-block;
        margin-right:15px;
        font-size:1em;
    }

    aside.sidebar nav ul li:last-child{
        margin-right:0;
    }
}