* {
	margin: 0;
	padding: 0;
}

body {
	margin: auto;
	max-width: 1000px;
}

img {
	width: 100%;
}

header {
	width: 100%;
	height: 50px;
	background-color: #ca7e7e;
}

header button {
	border: none;
	outline: none;
	width: calc(100% / 3);
	height: 100%;
	border-right: 2px solid black;
	background-color: #ca7e7e;
}

header button:last-child {
	border: none;
}

header button:hover {
	background-color: #bb90a6;
}

#content {
	position: relative;
}

#cats {
	display: inline-block;
    vertical-align: top;
	padding: 20px;
	background-color: #8ba4bd;
	box-sizing: border-box;
}

#cats::after {
	position: absolute;
	content: "";
	background-color: #8ba4bd;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	z-index: -1;
}

#dogs {
	display: inline-block;
    vertical-align: top;
	padding: 20px;
	background-color: #97c086;
	box-sizing: border-box;
}

#dogs::after {
	position: absolute;
	content: "";
	background-color: #97c086;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	z-index: -1;
}

.s50 {
	-webkit-transition: width 0.5s ease, font-size 0.2s ease;
	width: 50%;
	font-size: 1em;
}

.s95 {
	-webkit-transition: width 0.5s ease, font-size 0.2s ease;
	width: 95%;
	font-size: 1em;
}

.s05 {
	-webkit-transition: width 0.5s ease, font-size 0.3s ease;
	width: 5%;
	font-size: 0;
}

.s05 * {
	animation: fr 0.5s ease forwards;
}

@keyframes fr {
50% {opacity: 0.5;}
to {width: 0; overflow: none; opacity: 0;}
}

/*

@keyframes s95-5 {
	0% {
		font-size: 0;
		width: 5%;
	}
	100% {
		font-size: 16px;
		width: 95%;
	}	
}

@keyframes s95-50 {
	0% {
		font-size: 0;
		width: 50%;
	}
	100% {
		font-size: 16px;
		width: 95%;
	}	
}

@keyframes s50 {
	0% {
		font-size: 0;
	}
	100% {
		font-size: 16px;
		width: 50%;
	}
}

@keyframes s5-95 {
	0% {
		font-size: 16px;
		width: 95%;
	}
	100% {
		width: 5%;
		font-size: 0;
	}	
}

@keyframes s5-50 {
	0% {
		font-size: 16px;
		width: 50%;
	}
	100% {
		width: 5%;
		font-size: 0;
	}	
}

*/