﻿html, body{
    background-color:#faddbf;
    height:100%;
    margin:0 auto;
}

header {
    background-color: #000000;
    height: 3.5rem;
    width: 1200px;
    margin-left: 360px;
    text-align: center;
}

button {
    background-color: #f56b2b;
    height: 100%;
    width: 33%;
    margin: 0 auto;
    padding: 0;
    border: 0px solid;
    
    font-family:Arial; 
    font-size: 2rem;
    
}

main {
    
    width: 1200px;
    margin-left: 360px;
}

#cat {
    background-color: #75d369;
    width: 600px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    
    width: 50%;
    box-sizing: border-box;
    padding-bottom:20px;
}

#cat:hover {
    background-color: #75d369;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#dog {
    background-color: #569fc3;
    width: 600px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
    padding-bottom: 20px;
}

    #dog:hover {
        background-color: #569fc3;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }

img{
    padding-left:50px;
}

h2{
    padding-left:50px;
}